/* .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 2%;
} */

/* about section button and show andother text */
.front-name {
    margin: 0;
    color: #28CB8B;
    font-size: 50px;
    text-align: center;
    flex-direction: column;
    line-height: 1.2;
}


.text-size {
    font-family: "ROBOTO", sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
    text-align: justify;
}



.about-text {
    margin: 1vw;
    padding: 3vw;
}

.tablink {
    background-color: #28CB8B;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #82bfa7;
}

/* Style the tab content */
.tabcontent {
    color: black;
    border: 2px solid #28CB8B;
    border-radius: 5px;
    display: none;
    padding: 50px;
    text-align: center;
}


@media(min-width: 360px) {
    .about-container {
        display: grid;
        place-items: center;
        margin: 2%;
        padding: 2%;
    }

    .tablink {
        background-color: #28CB8B;
        color: white;
        padding: 4px 6px;
        font-size: 8px;

    }
}

@media(max-width: 600px) {
    .about-img img {
        width: 100%;
    }
}

@media(min-width: 960px) {
    .about-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2%;
        padding: 2%;
    }

    .tablink {
        background-color: #28CB8B;
        color: white;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 25%;
    }
}