/* .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 2%;
} */




@media(min-width: 390px) {
    .about-container {
        display: grid;
        place-items: center;
        margin: 2%;
        padding: 2%;
    }
}

@media(min-width: 960px) {
    .about-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2%;
        padding: 2%;
    }
}

.about-img img {
    width: 100%;
}