@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;600&display=swap");

:root {
    --clr-neutral-dark: hsl(207, 19%, 5%);
    --clr-neutral: hsl(0, 0%, 100%);
    --clr-accent: hsl(142, 90%, 61%);
}


.showcase {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 100vh;
    place-items: center;
    line-height: 1.6;
    background: var(--clr-neutral);
    font-family: 'IBM Plex Mono', monospace, sans-serif;
}

.showcase p {
    font-size: .95rem;
}

.flow>* {
    margin-top: 1em;
}

.card {
    color: var(--clr-neutral);
    background-image: url(https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg);
    background-position: bottom;
    background-size: cover;
    margin: 5rem;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 500ms ease;
}

.card:hover,
.card:focus-within {
    transform: scale(1.05);
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(hsl(213 5% 1% / 0),
            hsl(213 5% 1% / .4) 12%,
            hsl(213 5% 1% / 1));
}

.card-title {
    position: relative;
    width: max-content;
}

.card-title::after {
    content: '';
    position: absolute;
    left: calc(var(--padding) * -1);
    bottom: -3px;
    height: 4px;
    width: calc(100% + var(--padding));
    background-color: var(--clr-accent);
    border-radius: 0 100px 100px 0;


    transform-origin: right;
    transition: transform 500ms cubic-bezier(.69, .25, .82, .56);
}

.card:hover .card-title:after,
.card:focus-within .card-title:after {
    transform-origin: left;
    transform: scaleX(1);
}

.card-body {
    color: rgba(255, 255, 255, .85)
}

.card-btn {
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--clr-neutral-dark);
    background-color: var(--clr-accent);
    border: none;
    border-radius: 100px;
    padding: .4em 1.2em;

    transition: background-color 400ms ease-out;
}

.card-btn:hover,
.card-btn:focus {
    background-color: var(--clr-neutral);
    color: var(--clr-neutral-dark);
}

@media (hover) {
    .card-content {
        transform: translateY(68%);
        transition: transform 500ms ease;
    }

    .card:hover .card-content,
    .card:focus-within .card-content {
        transform: translateY(0%);
        transition-delay: 500ms;
    }

    .card:focus-within .card-content {
        transition-duration: 0ms;
    }

    .card-content>*:not(.card-title) {
        opacity: 0;
        transition: opacity 300ms ease;
        transition-delay: 1000ms;
    }

    .card:hover .card-content>*:not(.card-title),
    .card:focus-within .card-content>*:not(.card-title) {
        opacity: 1;
    }

    .card:focus-within .card-content>*:not(.card-title) {
        transition-delay: 500ms;
    }

    .card-title::after {
        transform: scaleX(0);
    }
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavious: auto !important;
        transition-delay: 0ms !important;
    }
}