/*  
    bg color:#1e1f26 black
    color: #ff0266;    red
    color: #03dac6; blue
   line color: #4E6EE2
    */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "ROBOTO", sans-serif;
    background-color: #ecfffd;
}

.container {

    display: grid;
    place-items: center;
    margin-top: 5%;
    padding-top: 10%;
}



/* navbar css started */
.backdrop-container {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation: fadeIn 1.2s ease-in-out;
    animation: fadeIn 1.2s ease-in-out;
}

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    top: 0;
    left: 0;
    background-color: #1e1f26;
    z-index: 1;
}

.mobile-nav-open-icon {
    font-size: 2rem;
    cursor: pointer;
    position: fixed;
    margin-right: 2rem;
    color: #ff0266;
    margin-left: 3rem;
    z-index: 1;
}

.sidenav-container {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #272727;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidenav-container a {
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin: 10px 0;
}

.sidenav-container a:hover {
    color: #f1f1f1;
}

.sidenav-container .closebtn {
    font-size: 3rem;
    font-weight: 700;
    color: #C9002B;
    padding-right: 1rem;
}

.sidenav-container .drawer-close-button {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 3rem;
}

/* navbar end */

/* particle css started */
#particles-js {
    background-color: #1e1f26;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.particle-container {
    position: absolute;
    padding: 0 2em;
}

/* .title-name {
    font-family: "Josefin Sans", sans-serif;
    font-size: 3vw;
    margin: 0;
    padding-bottom: 0.5rem;
    letter-spacing: 0.5rem;
    color: #03dac6;
    transition: all 0.3s ease;
    z-index: 3;
    cursor: alias;
} */
/* title name animation */

.title-name h1 {
    margin: 0;
    font-size: 4rem;
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    line-height: 1.2;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

span {
    display: flex;
}

#a {
    color: #ea4335;
    background-color: transparent;
    animation-name: css;
    animation-duration: calc (2s/ 4);
    animation-delay: 0s;
}

#b {
    color: #fbbc05;
    background-color: transparent;
    animation-name: css;
    animation-duration: calc(2s / 2);
}

#c {
    color: #34a853;
    animation-name: css;
    animation-duration: calc(2s / 1.4);
}

.title-name-style {
    display: flex;
    position: absolute;
    height: 4rem;
    width: 9rem;
    background-color: transparent;
    z-index: -100;
    transform: translate(10rem, 0rem);
    animation: cursor 2s ease-out;
}

.container {
    position: relative;
    display: block;
    padding: 1vmin;
    overflow: hidden;
}

@keyframes cursor {
    0% {
        background-color: #ea4335;
        transform: translate(10rem, 0rem);
        z-index: 2;
    }

    20% {
        background-color: #ea4335;
        transform: translate(0rem, 0rem);
    }

    25% {
        background-color: #ea4335;
        transform: translate(-9rem, 0rem);
    }

    30% {
        background-color: #fbbc05;
        transform: translate(-9rem, 5rem);
        width: 10rem;
    }

    40% {
        background-color: #fbbc05;
        transform: translate(0rem, 5rem);
        width: 20rem;
    }

    50% {
        background-color: #fbbc05;
        transform: translate(0rem, 5rem);
        width: 25rem;
    }

    60% {
        background-color: #34a853;
        transform: translate(0rem, 9.5rem);
        width: 27rem;
    }

    80% {
        transform: translate(-10rem, 9.5rem);
        background-color: #34a853;
    }

    89% {
        transform: translate(-20rem, 9.5rem);
        background-color: #34a853;
        z-index: 2;
    }

    91% {
        z-index: -100;
        background-color: white;
    }

    100% {
        z-index: -100;
        background-color: white;
    }
}

@keyframes css {
    0% {
        color: transparent;
    }

    95% {
        color: transparent;
    }
}

/* sub item */
.title-center {
    display: grid;
    place-items: center;
}

.title-work {
    width: 22ch;
    color: #f1f1f1;
    animation: typing 7s steps(24) infinite, blink 0.45s step-end infinite alternate;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}


@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.title-center-margin {
    margin: 1rem;
    padding: 1rem;
}

.title-icon {
    display: flex;
}

.title-icon i {
    color: #28CB8B;
    margin-right: 10px;
    padding-right: 10px;
    font-size: x-large;
}




/* footer section */

footer {
    background-color: #1e1f26;
    color: #28CB8B;
    width: 100%;
    height: 100px;
    display: grid;
    place-items: center;
    margin-top: 10px;
    padding-top: 20px;

}



































































.m {
    font-size: 2vw;
    letter-spacing: 0.9em;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: #faebd7;
    z-index: 4;
}

.m:hover {
    color: #ff0266;
    font-weight: 500;
    font-size: 2.2vw;

}

.btn {

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    background: #03dac6;
    color: #fff;
    border: solid 1px #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 200px;
    margin: 10px;
    outline: none;

}

.btn:hover {
    background-color: #6c757d;
    box-shadow: 0 0 30px #6c757d;
    color: #272727;
    cursor: pointer;
    transition: ease-in-out 1s;
    transition-property: background-color, box-shadow, color;
    /* transition: color .15s cubic-bezier(0.4, 0, 1, 1), #6c757d .15s ease-in-out, #6c757d .15s ease-in-out, #6c757d.15s ease-in-out;
        transition-property: color, #6c757d, #6c757d, #6c757d;
        transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
        transition-timing-function: cubic-bezier(0.4, 0, 1, 1), ease-in-out, ease-in-out, ease-in-out;
        transition-delay: 0s, 0s, 0s, 0s; */

    -webkit-box-reflect: below 2px linear-gradient(transparent, rgba(255, 255, 255, 0.05));
}

.icon {
    color: #03dac6;
    font-size: larger;
    margin: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}


/* about me section */
/* bg color:#1e1f26 black
        color: #ff0266;    red
        color: #03dac6; blue
       line color: #4E6EE2 */